
</body>


<!-- <a href="/contact" class="btn btn-lg btn-success message-me"><span class="glyphicon glyphicon-cutlery"></span> Keep in Touch</a> -->
<div class="bottom-container">
 <a href="https://www.facebook.com/AsalUZBCater/ "><i class=" fab fa-facebook fa-facebook-square fa-3x "> </i></a>
 <a href="https://www.instagram.com/asaluzbcater/"><i class="fab fa-instagram fa-instagram-square fa-3x"> </i></a>
<p class="copyright">© 2019 Asal.</p>
</div>
<!--Facebook-->


</html>
