
</body>



<div class="bottom-container">
<a class="footer-link" href="https://www.instagram.com/asaluzbcater/">Instagram</a>
 <a class="footer-link  " href="https://www.facebook.com/AsalUZBCater/ ">Facebook</a>
<p class="copyright">© 2019 Asal.</p>
</div>

 


</html>
