body{
  margin: 0;
  font-family: Arial,Helvetica, sans-serif;
  color: blue;
  background-color:#3334;
  font-size:1.1em;  
  line-height:1.5em;
  text-align:center;
  
}

h1,h2{
  color:orange;
  text-align:center;
  margin-top:1em;
  }
p{
  margin:0;
  padding:2em 0;
}

#navbar{
  overlflow:hidden;
  background-color:#e7717d;
  position:fixed;
  top:0;
  width:100%;
  padding: 1.2em;
  margin:0;
}
#navbar ul{
  list-style-type:none;
  margin:0;
  padding:0;
  overlfow:hidden;
}
#navbar li{
  float:left;
}


li a:hover {
    background-color: #555;
  color:white;
  
}

#navbar li a{
  display:block;
  margin:0;
  padding:0.5em;
  text-decoration: none;
  list-style:none;
  color:#000;
  
}