<%- include('partials/header') %>

<div class="container">
  <h2>Story</h2>
 <div class="container">
   <p>Asal was established in 2016 with mission to make your celebration easy, beautiful and delicious. For this short time of service Asal had honor to deliver delicious dinners and event planning service throughout the Greater Seattle Area.
  Asal offers fresh, appetizing, modern and traditional dishes prepared from scratch the day of your event using the best organic ingredients and high-quality products. </p>

</div>

<%- include('partials/footer') %>
<img src="public/images/rice.jpg" alt=" ">
