<%- include('partials/header') %>



   <div class="card bg-light mx-auto style="max-width: 18rem;">
  <div class="card-header"> <h2>Contact Us</h2></div>
  <div class="card-body">
    <address>
      <strong>Asal</strong>
      <br>Seattle/Bellevue
      <br>98005
      <br>
    </address>
    <address>
      <abbr title="Phone">P:</abbr>
      (206) 458-4683
      <br>
      <abbr title="Message">M:</abbr>
      <a href="https://www.facebook.com/messages/t/AsalUZBCater">Chat with us</a>
      <br>
      <abbr title="Email">E:</abbr>
      <a href="mailto:#">ariayan_u@hotmail.com</a>
    </address>
  </div>
</div>

<%- include('partials/footer') %>
