-y <%- include('partials/header') %>

<div class="alert alert-secondary text-center" role="alert">
<h2>Menu</h2>
<p>All orders can be delivered or picked up as well as served buffet style or plated family style.
We look forward serving you! </p>
</div>


<div class="row">
  <div class="col-6 col-sm-3">
    <a class="black-text " href="public\images\1.jpg">
      <img alt="picture" src="public\images\1.jpg"
        class="img-fluid img-thumbnail">
      <h3 class="text-center my-3">Honey Cake</h3>
    </a>
  </div>
  <div class="col-6 col-sm-3"> <a class="black-text" href="public\images\8.jpg"
   >
     <img alt="picture" src="public\images\8.jpg"
       class="img-fluid  img-thumbnail">
     <h3 class="text-center my-3">Manti</h3>
   </a></div>

  <!-- Force next columns to break to new line -->

  <div class="col-6 col-sm-3">
    <a class="black-text" href="public\images\3.jpg"
 >
      <img alt="picture" src="public\images\3.jpg"
        class="img-fluid  img-thumbnail">
      <h3 class="text-center my-3">Samsa</h3>
    </a>
  </div>
  <div class="col-6 col-sm-3"> <a class="black-text" href="public\images\4.jpg"
   ">
     <img alt="picture" src="public\images\4.jpg"
       class="img-fluid  img-thumbnail">
     <h3 class="text-center my-3">Manti</h3>
   </a>
 </div>

 <div class="col-6 col-sm-3">
   <a class="black-text" href="public\images\5.jpg"
     >
     <img alt="picture" src="public\images\5.jpg"
       class="img-fluid  img-thumbnail">
     <h3 class="text-center my-3">Olivie Salad</h3>
   </a>
 </div>
 <div class="col-6 col-sm-3"> <a class="black-text" href="public\images\6.jpg"
 >
    <img alt="picture" src="public\images\6.jpg"
      class="img-fluid  img-thumbnail">
    <h3 class="text-center my-3">Lamb</h3>
  </a></div>


  <div class="col-6 col-sm-3">
    <a class="black-text" href="public\images\7.jpg"
     >
      <img alt="picture" src="public\images\7.jpg"
        class="img-fluid img-thumbnail">
      <h3 class="text-center my-3">Baklava</h3>
    </a>
  </div>
  <div class="col-6 col-sm-3"> <a class="black-text" href="public\images\9.jpg"
     >
     <img alt="picture" src="public\images\9.jpg"
       class="img-fluid img-thumbnail ">
     <h3 class="text-center my-3">Blinchiki</h3>
   </a></div>

   <div class="col-6 col-sm-3">
     <a class="black-text" href="public\images\11.jpg"
      >
       <img alt="picture" src="public\images\11.jpg"
         class="img-fluid img-thumbnail">
       <h3 class="text-center my-3">Honey Cake</h3>
     </a>
   </div>
   <div class="col-6 col-sm-3"> <a class="black-text" href="public\images\12.jpg"
     >
      <img alt="picture" src="public\images\12.jpg"
        class="img-fluid img-thumbnail">
      <h3 class="text-center my-3">Samsa</h3>
    </a></div>

    <div class="col-6 col-sm-3">
      <a class="black-text" href="public\images\13.jpg">
        <img alt="picture" src="public\images\13.jpg"
          class="img-fluid img-thumbnail">
        <h3 class="text-center my-3">Lamb Ribs</h3>
      </a>
    </div>
    <div class="col-6 col-sm-3"> <a class="black-text" href="public\images\14.jpg"
       >
       <img alt="picture" src="public\images\14.jpg"
         class="img-fluid img-thumbnail">
       <h3 class="text-center my-3">Event Serving</h3>
     </a></div>

     <div class="col-6 col-sm-3">
       <a class="black-text" href="public\images\15.jpg"
         >
         <img alt="picture" src="public\images\15.jpg"
           class="img-fluid img-thumbnail">
         <h3 class="text-center my-3">Afghan Bread</h3>
       </a>
     </div>
     <div class="col-8 col-sm-3 "> <a class="black-text" href="public\images\16.jpg"
       >
        <img alt="picture" src="public\images\16.jpg"
          class="img-fluid   img-thumbnail">
        <h3 class="text-center my-3">Samsa and Plov</h3>
      </a></div>
      <div class="col-6 col-sm-3">
        <a class="black-text" href="public\images\17.jpg"
         >
          <img alt="picture" src="public\images\17.jpg"
            class="img-fluid img-thumbnail">
          <h3 class="text-center my-3">Achichuk salad</h3>
        </a>
      </div>
      <div class="col-6 col-sm-3 "> <a class="black-text " href="public\images\19.jpg"
       >
         <img alt="picture" src="public\images\19.jpg"
           class="img-fluid  img-thumbnail">
         <h3 class="text-center my-3">Samsa</h3>
       </a></div>
</div>



<%- include('partials/footer') %>
