
body, html {
  height: 100%;
  font-size: 1.5rem;
  font-family: 'El Messiri', 'Archivo', sans-serif;
}




/************************Navigation *****************************/

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border: 1px solid transparent;

}


/************************************** Gallery****************************/


/* .carousel {
  width:50%;
  height:60%;
 padding-left: 6rem;
 padding-top: 2rem;
} */



img.logo{
  width:200px;
  height: 150px;
  border-radius: 5px;
}

/***************** Home Page *****/
.bg {

  /* The image used */
  background-image: url("../../images/rice.jpg");
  /* Add the blur effect */
  filter: blur(5px);
  -webkit-filter: blur(5px);
  margin-bottom: -2px;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}
  .bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-52%, -50%);
  z-index: 2;
  width: 60%;
  padding: 1rem;
  text-align: center;
}





/* Position text in the middle of the page/image */
.py-5  {
 color: black;
 border: solid 2px;
}
.card-image{
  width:100%;
}


/************Menu page**********/
.alert{
  font-size: 1.3rem;
  padding-top: 2rem;
}

/************Contact page**********/

.card{
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 37%;
}

 .card-body{
 padding-top:15%;
}


/********************Footer****************/

.message-me{
  padding-top: 50px 0;
  text-align: center;
 }
 .bottom-container{

   background-color:#343a40;
     padding: 50px 0 20px;

     text-align: center;
 }
.fa-facebook {
  /* background: #3B5998; */
  color: white;
    padding-right: 0.5rem;
}

.fa-instagram {
  /* background: #125688; */
  color: white;
  padding-left: 0.5rem;
}
.copyright{
  color:white;
  padding-top: 0.5rem;
}
