
body, html {
  height: 100%;
  font-size: 1.2rem;
  font-family: 'El Messiri', 'Archivo', sans-serif;
  background-color: #f4f6f6;
}




/************************Navigation *****************************/

.navbar {
    position:relative;
    min-height: 50px;
    margin-bottom: 0;
    border: 1px solid transparent;

}


/************************************** Gallery****************************/


.logo{
  width:200px;
  height: 150px;
  border-radius: 5px;
}

/***************** Home Page *****/
header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('/images/rice.jpg ') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}



/***************** Media Page *****/

@media screen and (max-width: 700px) {

  .bg-text  h1{
      font-size:  1.5rem;
  }
  .bg-text  h2{
      font-size: 1.5rem;
  }
  .bg-text  h3{
      font-size:  1.5rem;
  }
  .carousel-image {
    float: none;
    margin-left: 100px;
    width:80%;
    height:80%;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 10%;

  }
}

/***********************About **************************/

#container{
  padding: 5% 0;
}

.about{
  font-size: 1rem;
}
.carousel-image {
    float: none;
    margin-left: 30%;
    width:35%;
    height:35%;
    margin-bottom:1rem;
    margin-top: 1rem;
    border-radius: 10%;
}

/* Position text in the middle of the page/image */
.py-5  {
    color: black;
    border: solid 2px;
}
.card-image{
  width:100%;
}


/************Menu page**********/
.alert{
  font-size: 1.3rem;
  padding-top: 2rem;
}

/************Contact page**********/

.card{
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 37%;
}

 .card-body{
 padding-top:15%;
}


/********************Footer****************/


 .footer{
    background-color:#343a40;
    text-align: center;

 }
 .fab{
   color: #fff;
   padding: 2.5rem 0.5rem;

 }

.copyright{
  color:white;
  margin-bottom: 0;
}
